.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bfbfbf;   
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 1px 3px black;
}

.logo {
    width: 70px;
    height: auto;
}
.links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #333;
}

.links a:hover {
    color: rgba(145, 37, 20, 0.955);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.card {
    padding: 15px;
    background-color: rgb(172, 171, 171);
    width: 25%;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    background-color: aquamarine;
}

.card-img {
    width: 100%;
    height: auto;
}

body {
    padding: 20px
}

h2 {
    margin-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: #bfbfbf;
    padding: 15px;
    border-radius: 7px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #bfbfbf;
    padding: 15px;
    border-radius: 6px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.main {
    grid-area: main;
    background-color: #bfbfbf;
    padding: 15px;
    border-radius: 7px;
}

.footer {
    grid-area: footer;
    background-color: #bfbfbf;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.gallery-item {
    position: relative;
    height: 200px;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: rgb(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    transition: height 0.5s;
    border-radius: 7px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

.gallery-item:hover .caption{
    height: 30px;
    padding-top: 10px;
}

.mainContent {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 25px;
    margin-bottom: 20px;
}

.project-area {
    background-color:#bfbfbf;
    padding: 15px;
    border-radius: 8px;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.project-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 6px ;
}

.project-card p {
    font-family: sans-serif;
    font-size: 14px;
}

.project-card button {
    padding: 5px;
    transition: background-color 0.5s;
}

.project-card button:hover {
    background-color: aquamarine;
}

.sidebar2 {
    background-color: #bfbfbf;
    border-radius: 6px;
    padding: 15px;
}

.footer2 {
    background-color: #bfbfbf;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}