.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;   
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 1px 3px black;
}

.logo {
    width: 100px;
    height: auto;
}
.links {
    display: flex;
    gap: 20px;
}

.links a{
    text-decoration: none;
}

.links a:hover {
    color: rgba(145, 37, 20, 0.955);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.card {
    padding: 15px;
    background-color: rgb(172, 171, 171);
    width: 25%;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    background-color: aquamarine;
}

.card-img {
    width: 100%;
    height: auto;
}
